body {
  background-color: black;
  color: white;
  background-image: url(Imagenes/pizza-fondo.png);
  background-size: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: rgb(0, 0, 0); /* Negro con 50% de transparencia */
}

nav {
  position: sticky;
  top: 0;
  height: 4em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  margin-left: 40px;
  font-size: 40px;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

.caja-nav {
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lista-nav {
  margin: 0;
  padding: 0;
}

.botones-nav {
  display: inline-block;
  margin: 10px 30px;
  width: 100px;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.imagen-principal {
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(Imagenes/pizacheta.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}

#titulo-principal {
  text-align: center;
  font-size: 650%;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  z-index: 3;
  margin: 0 40px;
}

#imagen-principal {
  width: 90vh;
  min-width: 300px;
}

.rectangulo-principal {
  background-color: rgba(250, 0, 0, 0.65); /* Negro con 50% de transparencia */
  width: 100%;
  height: 10em;
  top: 41%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulo-piza {
  margin-top: 150px;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1.5px;
  margin: 170px 40px;
  text-align: center;

  font-size: 600%;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  z-index: 5;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 100px auto;
  flex-wrap: wrap;
}


.productos {
  width: 22%;
  background-color: rgba(172, 52, 52, 0.686);
  border-radius: 10px; /* Negro con 50% de transparencia */
  height: 620px;
  min-width: 250px;
  margin: 60px;
  padding: 15px;
  position: relative;

}

.caja-productos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:10px
}

main h2 {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-top: 5px;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

.imagen-producto {
  width: 80%;
  margin: 50px 0;
}

.descripcion-producto {
  margin-bottom: 15px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.8em;
  width: 90%;
}

.caja-precio {
  position: absolute;
  width: 30%;
  margin: 0;
  padding: 0;
  bottom: 15px;
  left:50%;
  transform: translate(-50%);
  display: flex;
  border-radius: 5px;
}

.precio-producto {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  text-align: center;
  width: 100%;
  bottom: 4px;
  font-size: 25px;
}

@media screen and (max-width: 1400) {
  #titulo-principal,
  #titulo-piza {
    font-size: 70px; /* Disminuir el tamaño, de la fuente para dispositivos móviles */
  }
  .rectangulo-principal {
    top: 35%;
  }
}

@media screen and (max-width: 780px) {
  #titulo-principal,
  #titulo-piza {
    font-size: 65px; /* Disminuir el tamaño, de la fuente para dispositivos móviles */
  }

  .botones-nav {
    display: block;
  }
  header {
    background-color: rgb(0, 0, 0); /* Negro con 50% de transparencia */
  }
  nav {
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-top: 20px;
  }
  #logo {
    margin-left: 0px;
  }
  .botones-nav {
    margin: 20 0px;
  }
  .imagen-principal {
    height: 80dvh;
  }

  
}

